.r-card img{
    width: 100%;
}
.r-card{
    text-align: left;
    padding: 10px;
    transition: all .3s ease-in;

}
.r-card:hover{
    background: rgba(207, 211, 218, 0.568);
    transform: scale(1.021);
    border-radius: 15px;
}
.r-card h3{
    text-align: left;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
}
.r-card h4{
    text-align: left;
    width: 100%;
    font-size: 17px;
    margin-block: 15px;
}
.swiper, swiper-container {
    overflow: visible !important;

}
.my-slider{
    position: relative;
}
.r-buttons{
    position: absolute;
    top: -20%;
    right: 0;
}
.r-buttons button{
    color: rgb(26, 61, 218);
    outline: none;
    border: none;
    font-size: 20px;
    padding: 2px 12px;
    margin: 5px;
    box-shadow: 2px 2px 7px rgb(199, 197, 197);
}

@media (max-width:991px) {
    .slider-text{
        text-align: center;
    }
    .r-buttons{
        position: absolute;
        top: 100%;
        left: 45%;
        z-index: 999;
        margin-top: 30px;
    }
}
@media (max-width:600px){
    .r-buttons{
        position: absolute;
        top: 95%;
        left: 40%;
    }
}